<mat-card>
    <mat-card-title>Excluir Paciente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
                [value]="product.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="BPM (Batimentos por minuto)"
                [value]="product.bpm" name="bpm" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="BPM Referencia (Batimentos por minuto)"
                [value]="product.bpmReferencia" name="bpmReferencia" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteProduct()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>