<mat-card>
    <mat-card-title>Alterar Paciente</mat-card-title>
    <form>

        <h2>Dados Pessoais</h2>

        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput
                [(ngModel)]="product.name" name="name">
        </mat-form-field>

        <table cellspacing="0"><tr>
        <td>
        <mat-form-field appearance="fill">
            <mat-label>Idade</mat-label>
            <input matInput
                [(ngModel)]="product.idade" name="idade">
        </mat-form-field></td>
       <!--  <td>
            <mat-form-field appearance="fill">
                <mat-label>DDD</mat-label>
                <input matInput
                    [(ngModel)]="product.telefone" type="text" name="Telefone">
            </mat-form-field></td> -->
        <td>
        <mat-form-field appearance="fill">
            <mat-label>Telefone DDD 99999-9999</mat-label>
            <input matInput
                [(ngModel)]="product.telefone" type="text" name="Telefone">
        </mat-form-field></td>

        </tr></table>
        

        <h2>Dados Fisiológicos</h2>

        <!-- <mat-form-field appearance="fill">
            <input matInput placeholder="BPM (Batimentos por minuto)"
                [(ngModel)]="product.bpm" name="bpm">
        </mat-form-field> -->
        <table cellspacing="0"><tr>
        <td>
        <mat-form-field appearance="fill">
            <mat-label>BPM Mínimo</mat-label>
            <input matInput
                [(ngModel)]="product.bpmInferior" name="bpmInferior">
        </mat-form-field></td>
        <td>
        <mat-form-field appearance="fill">
            <mat-label>BPM Máximo</mat-label>
            <input matInput
                [(ngModel)]="product.bpmReferencia" name="bpmReferencia">
        </mat-form-field></td>
        </tr></table>
        <!-- <mat-form-field appearance="fill">
            <input matInput placeholder="Pressão Arterial (PA)"
                [(ngModel)]="product.pressaoArterial" name="pressaoArterial">
        </mat-form-field> -->

        <table cellspacing="0"><tr>
        <td>
        <mat-form-field appearance="fill">
            <mat-label>PA Mínima Ex.(12.8)</mat-label>
            <input matInput
                [(ngModel)]="product.pressaoArterialInferior" name="pressaoArterialInferior">
        </mat-form-field></td>
        <td>
        <mat-form-field appearance="fill">
            <mat-label>PA Máxima Ex.(13.8)</mat-label>
            <input matInput
                [(ngModel)]="product.pressaoArterialReferencia" name="pressaoArterialReferencia">
        </mat-form-field></td>
        </tr></table>
        <!-- <mat-form-field appearance="fill">
            <input matInput placeholder="Saturação (85)"
                [(ngModel)]="product.saturacao" name="saturacao">
        </mat-form-field> -->
        <mat-form-field appearance="fill">
            <mat-label>Saturacao Referencia Ex.(85)</mat-label>
            <input matInput
                [(ngModel)]="product.saturacaoReferencia" name="saturacaoReferencia">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateProduct()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>