<mat-card>
    <mat-card-title>Alterar Paciente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
                [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="BPM (Batimentos por minuto)"
                [(ngModel)]="product.bpm" name="bpm">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="BPM Referencia (Batimentos por minuto)"
                [(ngModel)]="product.bpmReferencia" name="bpmReferencia">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateProduct()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>